#root {
}
#container {
	display: flex;
	flex-direction: column;
	width:100%;
	align-items: center;
	justify-content: center;
}
#pie-container{
	width: 45%;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}
#entry-form {
}
#pie {
	border-bottom: 0.2vw solid black;
}
